{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<h2 style="padding: 5px" class="text-center">Sign in</h4>
{% include "@FOSUser/Security/login_content.html.twig" %}
{% endblock fos_user_content %}
